# Private APIs secret
API_SECRET=""
# Add more as needed

# Push notification vapid keys
VAPID_PUBLIC=""
VAPID_PRIVATE=""

# Third-party integrations
INTEGRATION_GOOGLE_ADSENSE=""
INTEGRATION_GOOGLE_CLIENT=""
INTEGRATION_GOOGLE_SECRET=""
# Add more as needed