# Folders
.vscode/*
node_modules
dist
logs
data
backups
ssl/*

# Files
!.vscode/extensions.json
!.vscode/settings.json
package-lock.json

# Extensions
*.env
!*.env.example
*.log
*.db
*.sqlite
*.idea
*.ini
*.lnk
*.crt
*.key
!*.crt.example
!*.key.example